*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(mainBackground.png);
    background-size: cover;
    background-attachment: fixed;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.logo{
    height: 90px;
    width: 90px;
}

.options{
    display: flex;
    flex-direction: row;
}

.user{
    height: 35px;
    width: 35px;

}
.research{
    height: 30px;
    width: 30px;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search input{
    
    background-color: rgb(173, 236, 233);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 6vh;
    padding-left: 2vh;
    border-radius: 5px;
    margin-left: 1.5vh;
    margin-right: 2vh;
}

.login a{
    color: rgb(58, 131, 165);
    text-decoration: none;
    font-family: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2vh;
}

.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3vh;
}

.title{
    padding-right: 20vh;
}


h1{
    font-size: 60px;
    color: rgb(10, 57, 185);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5vh;
    margin-top: 6vh;
}

@keyframes appear{
    from{
        opacity: 0;
    }to{
        opacity:1;
    }
}
.p1{
    font-size: 40px;
    margin-left: 5vh ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:bolder;
    margin-bottom: 4vh;
}

.p2{
    font-size: 20px;
    margin-left: 5vh ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.titleHeader {
    display: flex;
    flex-direction: row;
    

}

.titleHeader img{
    margin-right: 5vh;
    margin-top: 10vh;
    height: 300px;
    width: 550px;
    border-top-left-radius: 50px;
    animation: appear 10s;
    
}

.title{
    animation: appear 2s;
}

.img1 img{
    
    height: 120px;
    width: 200px;
}

.img1{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: antiquewhite;
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    transition: 1s;
}

.projectsImg{
    margin-top: 10vh;
    margin-left: 4vh;
    margin-right: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: row;
}

.puzzle{
    height: 280px;
    width: 480px;
    border-top-right-radius: 20px;
    margin-top: 8vh;
    margin-left: 4vh;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin-left: 4vh;
    margin-top: 15vh;
    color: rgb(10, 57, 185);
    animation: appear 4s;
}

span{
    margin-left: 4vh;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: appear 4s;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(10, 57, 185);
    font: bolder;
}

.img1 p{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img1 span{
    margin-left: 1vh;
    color: rgb(88, 87, 87);
    font-size: 15px;
    margin-top: 4vh;
}

.img1:hover{
    transform: scale(1.1);
    background-color: rgb(185, 241, 239);
}

.description2{
    margin-top: 10vh;
    margin-left: 8vh;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: appear 6s;
}