* {
    padding: 0;
    margin: 0;
}

body {

    background-size: cover;
    background-attachment: fixed;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(170, 228, 243);
    height: 50px;
}


.logo {
    height: 90px;
    width: 90px;
}

.options {
    display: flex;
    flex-direction: row;
}

.user {
    height: 35px;
    width: 35px;

}

.research {
    height: 30px;
    width: 30px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input {

    background-color: rgb(173, 236, 233);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 6vh;
    padding-left: 1vh;
    border-radius: 5px;
    margin-left: 1.5vh;
    margin-right: 2vh;
}

.login a {
    color: rgb(58, 131, 165);
    text-decoration: none;
    font-family: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1vh;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4vh;
}

.sections p {
    font-size: 30px;
    margin-left: 550px;
    margin-top: 1vh;
    color: black;
}

.fond {
    background-image: url(backgroundHome.jpg);
    background-size: cover;
    z-index: 2;
}

.container1 {
    margin-top: 3vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: -1;
}


.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 440px;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
    margin-right: 4vh;
    color: antiquewhite;
}

p {
    font-size: 30px;
    margin-left: 385px;
    color: aliceblue;
}

button {
    margin-top: 10vh;
    margin-bottom: 12vh;
    border: none;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
    margin-left: 600px;
    background-color: rgb(170, 228, 243);
    border-radius: 10px;
}

button:hover{
    transform: scale(0.9);
}